.filters-wrapper {
  display: flex;
  flex-direction: column;
  max-width: @desktop-width;
  margin: 0 auto;
  padding: 50px 20px 40px;
}

@media (min-width: @tablet-width) {
  .filters-wrapper {
    padding-top: 78px;
  }
}
