.catalog {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 40px;
  background-color: @background-secondary;
}

.catalog__bage {
  margin-bottom: 4px;
  align-self: center;
  text-transform: uppercase;
}

.catalog__title {
  margin-bottom: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .catalog {
    padding-top: 78px;
  }

  .catalog__title {
    font-size: 42px;
    line-height: 64px;
  }
}
