.copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: @text-base;
}

.copyright__link {
  margin-right: 4px;
  text-decoration: none;
  color: @text-base;
}

.copyright__icon {
  vertical-align: middle;
  fill: @text-base;
}
