.features {
  position: relative;
}

.features__title {
  padding-bottom: 4px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.features::before {
  content: "";
  display: block;
  position: absolute;
  width: 52px;
  height: 56px;
}

.features--speed {
  padding-top: 66px;
  padding-bottom: 32px;
}

.features--speed::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/speed.svg");
  background-repeat: no-repeat;
}

.features--convenience {
  padding-top: 66px;
  padding-bottom: 32px;
}

.features--convenience::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/convenience.svg");
  background-repeat: no-repeat;
}

.features--cheerfulness {
  padding-top: 66px;
  padding-bottom: 32px;
}

.features--cheerfulness::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/cheerfulness.svg");
  background-repeat: no-repeat;
}

.features--ecology {
  padding-top: 66px;
  padding-bottom: 60px;
}

.features--ecology::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/ecology.svg");
  background-repeat: no-repeat;
}
