.filters__price {
  border: none;
  margin-bottom: 24px;
}

.filters__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.filters__range {
  padding-top: 28px;
}

.filters__title--milk,
.filters__title--country {
  display: flex;
  flex-direction: column;
}

.filters__reset {
  width: 100%;
  min-height: 40px;
  margin-top: 8px;
  padding: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: @background-primary;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: @text-secondary;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    background-color: @color-togle;
    color: @background-primary;
  }

  &:active {
    background-color: @border-focus;
  }

  &:disabled {
    background-color: @color-lyght-grey;
    color: @background-primary;
  }
}

@media (min-width: @tablet-width) {
  .filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }

  .filters__price {
    margin-bottom: 33px;
  }

  .filters__reset {
    grid-column: 2/3;
  }
}

@media (min-width: @desktop-width) {
  .filters {
    grid-template-columns: 1fr;
  }

  .filters__reset {
    grid-column: 1/-1;
  }
}
