.media {
  padding: 20px 20px 28px;
  border-bottom: 1px solid @nav-decoration;
}

.media__title {
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: @text-secondary;
}

.media__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  list-style-type: none;
}

.media__link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: @text-primary;
}
