@media (max-width: @mobile-width-only) {
  .navigation--close .navigation__wrapper {
    display: none;
  }
}

.navigation {
  display: flex;
}

.navigation__list {
  list-style-type: none;
}

.navigation--nojs .navigation__toggle {
  display: none;
}

.navigation--nojs .navigation__wrapper {
  display: block;
  position: static;
  padding-bottom: 290px;
}

@media (min-width: @tablet-width) {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
}

@media (min-width: @desktop-width) {
  .navigation__list {
    column-gap: 21px;
  }
}
