.page-header {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.page-header__logo {
  padding: 12px 20px;

  &:hover {
    outline: none;
    border: none;
    background-color: @nav-decoration;
  }

  &:focus {
    outline: none;
    border: none;
    background-color: @nav-decoration;
  }

  &:active {
    outline: none;
    border: none;
  }
}

.page-header--nojs {
  height: auto;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: grid;
    grid-template-columns: 150px 1fr;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .page-header__logo {
    padding: 0;
    align-self: center;
  }

  .page-header__icon {
    width: 82px;
    height: 36px;
  }
}
