.page-header {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.page-header__logo {
  padding: 12px 20px;

  &:hover {
    outline: none;
    border: none;
    background-color: @nav-decoration;
  }

  &:focus {
    outline: none;
    border: none;
    background-color: @nav-decoration;
  }

  &:active {
    outline: none;
    border: none;
  }
}

.page-header--nojs {
  height: auto;
}
