.products {
  padding: 0 20px 60px 20px;
  background-color: @background-secondary;
}

.products__sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.products__list {
  list-style-type: none;
}
