.range__scale {
  position: relative;
  height: 2px;
  margin-bottom: 32px;
  background: @color-lyght-grey;
}

.range__bar {
  position: absolute;
  width: 260px;
  height: 4px;
  background: @color-togle;
}
