.slider {
  min-width: 320px;
  width: 100%;
  padding: 20px;
  padding-bottom: 60px;
  list-style-type: none;
  text-align: center;
}

.slider--flat-white {
  background-color: @promo-primary;
}

.slider--lavender-latte {
  background: @promo-secondary;
}

.slider--triple-espresso {
  background: @promo-triple;
}

.slider__badge {
  padding-top: 10px;
  margin-bottom: 4px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: @text-secondary;
}

.slider__title {
  margin-bottom: 10px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.slider__subtitle {
  margin-bottom: 20px;
}
