.social {
  display: flex;
  padding: 22px 20px;
  border-bottom: 1px solid @nav-decoration;
}

.social__title {
  display: none;
}

.social__list {
  display: flex;
  column-gap: 39px;
  margin-left: auto;
  align-items: center;
  list-style-type: none;
}

.social__icon {
  fill: @text-base;
}
