.switch__range {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.switch__range--min,
.switch__range--max {
  background-color: @background-primary;
  border: 2px solid @color-togle;
}

.switch__range--min {
  bottom: -8px;
  left: 0;
}

.switch__range--max {
  bottom: -8px;
  right: 0;
}
