.user-list__basket {
  display: none;
}

.user-list__signin {
  display: none;
}

.user-list {
  display: flex;
}

.user-list__link {
  display: flex;
  padding: 22px;

  &:focus {
    outline: none;
    border: none;
  }

  &:active {
    outline: none;
    border: none;
    background-color: @nav-decoration;
  }
}

.user-list__icon-user {
  fill: @text-primary;
}

.user-list__icon-basket {
  fill: @text-primary;
}

@media (min-width: @tablet-width) {
  .user-list__link {
    padding: 32px 22px;
  }
}
